
/* .product-categorys 就是你那个 [[${'#'+componentId}]] */
/* .product-categorys 替换成 [[${'#'+componentId}]] */

/*头部 "全部分类颜色" 深色的那个*/
/*[[${'#'+componentId+' .categorys-dorpdown .dt a '}]]*/
{
    background: /*[[${titleBgColor}]]*/ #b1191a;
}

/*body 颜色 浅色的那个*/
/*[[${'#'+componentId+' .categorys-dorpdown .dd '}]]*/
{
    background: /*[[${BgColor}]]*/ #c81623;
}
/*同 body 颜色*/
/*[[${'#'+componentId+' .categorys-dorpdown .dd .item .item-top '}]]*/
{
    border-left: 1px solid /*[[${BgColor}]]*/ #b61d1d;
}
/*同 body 颜色*/
/*[[${'#'+componentId+' .categorys-dorpdown .dd .item .item-sub '}]]*/
{
    border: 1px solid /*[[${BgColor}]]*/ #b61d1d;
}
/*同 body 颜色*/
/*[[${'#'+componentId+' .categorys-dorpdown .dd .item .item-sub .item-channels a:hover '}]]*/{
    background: /*[[${BgColor}]]*/ #c81623;
}
/*同 头部 颜色*/
/*[[${'#'+componentId+' .categorys-dorpdown .dd .item .item-sub .item-channels a:hover i '}]]*/{
    background: /*[[${titleBgColor}]]*/ #b1191a;
}
/*同 body 颜色*/
/*[[${'#'+componentId+' .categorys-dorpdown .dd .item .item-sub .subitems a:hover '}]]*/{
    color: /*[[${BgColor}]]*/ #b61d1d;
}
/*同 body 颜色*/
/*[[${'#'+componentId+' .categorys-dorpdown .dd .item.show .item-top a '}]]*/{
    color: /*[[${BgColor}]]*/ #b61d1d;
}
